body{
   font-family: Open Sans,sans-serif;
}

@media (max-width:991px){
    .sidebararea{
        padding: 0px 20px;
        background-color: #191D2B;
        height: 100vh;
        color: white;
        border-right: 1px solid #2E344E;
        align-items: center;
        width: 270px;
        z-index: 80000000000;
        /* margin-left: -15px; */
    
    }
}
@media (min-width:991px){
    .sidebararea{
        padding: 0px 20px;
        background-color: #191D2B;
        height: 100%;
        color: white;
        border-right: 1px solid #2E344E;
        align-items: center;
        width: 100%;
    
    }  
}
.sideBar-profile{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    border-bottom: 1px solid #2E344E;
}
.sideBar-profile img{
width: 180px;
height: 180px;
border-radius: 50%;
object-fit: cover;
border:8px solid #2E344E;
}
.sideBar-links-area{
    margin-top: 20px;
}
.sideBar-links-area ul{
    padding-left: 0px;
}
.sideBar-links-area ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 550;
    padding: 8px 0px;
    cursor: pointer;
    color:#9CA4BA;
    margin: 3px 0px;
    background: linear-gradient(to left, transparent   50%, rgba(3,127,255,.2)  50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    border-radius: 2px;
   
}
.sideBar-links-area ul li a{
color: inherit;
}
.sideBar-links-area ul li a:hover{
    color: inherit;
    text-decoration: none;
    }
.sideBar-links-area ul li.active{
    list-style: none;
    background-color: #037FFF;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 550;
    padding: 8px 0px;
    cursor: pointer;
    margin: 3px 0;
  
   
}
.sideBar-links-area ul li.active:hover{
    list-style: none;
    background-color: #037FFF;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 550;
    padding: 8px 0px;
    cursor: pointer;
    margin: 3px 0;
  
   
}
.sideBar-links-area ul li:hover{
    list-style: none;
 /*    background: rgba(3,127,255,.2);
    transition: all .4s ease; */
   /*  transform: translate(-100%, 0); */
color: #037fff;
/* */
background-position: left;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 550;
    padding: 8px 0px;
    cursor: pointer;
    margin: 3px 0px;

  /*   animation: hoverAnimation .4s infinite; */
   
}
@keyframes hoverAnimation{
    0%{
        left: 0%;
    }
    100%{
        background: rgba(3,127,255,.2);
    }
}
.sideBar-bottom{
    position: absolute;
    bottom: 10px;
    text-align: center;
   /*  border-top: 1px solid #2E344E; */
    font-size: 14px;
    font-weight: 550;
    color:#9CA4BA;
    padding: 10px 0px;
    
}